* {
  margin: 0;
  padding: 0;
}

/* Variables CSS */
:root {
  /* Tipografias */

  /* Colores */
  --TituloH1: #4682b4;
  --FondoBodyGradiente: linear-gradient(to bottom, #2a2d34, #1a1b1e);
  --FondoModal: #000000bf;
  --Texto: #d3d3d3;
  --TextoLink: #5f9ea0;
  --Secciones1Gradiente: linear-gradient(
    to bottom,
    #696969,
    #5e5e5e,
    #545454,
    #4a4a4a,
    #404040
  );
  --Secciones1: #696969;
  --Secciones2: #708090;
  --Secciones3: #2a2d34;
  --Hover: #b22222;
}
/* --------------------------------------------------------------------------------------------------------------- */

/* ---CSS general--- */

/* ////////////////////////// */
body {
  background: var(--FondoModal);
}
/* ////////////////////////// */

/* contenedor para slavarte la cabeza cuando tenes que centrar un puto div de mierda */
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* ////////////////////////// */

/* Los titulos o H... */
.titulo {
  text-align: center;
  font-size: 1.9rem;
  color: var(--Texto);
  margin-top: 15px;
}
/* Responsividad 768px */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.4rem;
  }
}
/* Responsividad 480px */
@media (max-width: 480px) {
  .titulo {
    font-size: 1rem;
  }
}
/* ////////////////////////// */

/* boton */
.boton {
  padding: 10px 15px;
  background-color: var(--Secciones2);
  color: var(--Texto);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}
.boton:hover {
  background-color: var(--Texto);
  color: var(--Hover);
}
/* Responsividad 600px */
@media (max-width: 600px) {
  .detalleForm {
    padding: 15px;
  }
  .grupoFormulario input,
  .grupoFormulario textarea {
    padding: 8px;
  }
  .boton {
    padding: 8px 12px;
  }
}
/* ////////////////////////// */

/* Simples <P> */
.textoP {
  color: var(--TextoLink);
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  display: block;
}
/* ////////////////////////// */

/* Para el input */
.texto {
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-bottom: 4px solid var(--Secciones2);
  border-radius: 3px;
  outline: none; /* Elimina el borde azul por defecto en algunos navegadores */
  transition: background-color 0.3s ease;
}
input:hover {
  border-bottom: 4px solid var(--Hover);
  box-shadow: none;
}
/* ////////////////////////// */
/* Para los ul */
.lista {
  list-style-type: none; /* Elimina los puntos de la lista */
}
.lista .listaIten {
  padding: 5px;
  color: var(--TextoLink);
}
/* ////////////////////////// */
/* --------------------------------------------------------------------------------------------------------------- */

/* ---Nav--- */
.nav {
  background-color: var(--Secciones3);
  width: 100%;
}
.navTamaño{
  width: 600px;
  margin: 0 auto;
  padding: 5px 30px;
  display: flex;
}
.navTitulo {
  color: var(--Secciones2);
}
.navSpan {
  text-decoration: underline;
  border-radius: 5px;
  transition: 0.5s ease;
}
.navSpan:hover {
  text-decoration: underline;
  text-decoration-color: var(--Hover);
  cursor: pointer;
}
.enlacesUl {
  display: flex;
  margin-left: auto; /* Derecha */
}
.enlacesLi{
  color: var(--TextoLink);
  cursor: pointer;
  padding: 0 20px; /* 0 arriba y abajo, 20px - derecha - izquierda */
}
/* --------------------------------------------------------------------------------------------------------------- */
